<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>部门管理</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="./static/easyui/themes/metro/easyui.css">
    <link rel="stylesheet" type="text/css" href="./static/easyui/themes/icon.css">
    <script type="text/javascript" src="./static/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="./static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./static/js/system/tsDept.js"></script>
</head>
<body>
	<div class="easyui-layout" data-options="fit: true">
		<div data-options="region: 'west', title: '部门管理', iconCls: 'icon-standard-application-view-tile', split: true,collapsible:false" style="width: 250px;">
			<ul id="tree_dept"></ul>
		</div>
		<div data-options="region: 'center', split: true">
			<div class="easyui-layout" data-options="fit: true">
				<div data-options="region: 'center',title: '部门维护',collapsible:false" >
					<div id="dlg-toolbar">
						<table style="width:100%">
							<tr>
								<td>
									<a id="btn_add_dept" href="#" class="easyui-linkbutton" iconCls="icon-add" plain="false">新增</a>
									<a id="btn_update_dept" href="#" class="easyui-linkbutton" iconCls="icon-save" plain="false">保存</a>
									<a id="btn_delete_dept" href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="false">删除</a>
								</td>
							</tr>
						</table>
					</div>
                    <div style="width: 100%;margin: 0 auto;text-align: center">
                        <form id="form_dept" method="post" >
                            <table>
                                <tr style="text-align: right">
                                    <td style="width:25%;display: none"><input id="form_deptId" class="easyui-numberbox" label ="上级编码：" labelWidth="65" labelAlign="right" type="text" style="width: 100%;" name="deptId"   readonly/></td>
                                    <td style="width:25%"><input id="form_deptParentNo" class="easyui-textbox" label ="上级编码：" labelWidth="91" labelAlign="right" type="text" style="width: 100%;" name="deptParentNo"     readonly/></td>
                                    <td style="width:25%"><input id="form_deptParentNameCn" class="easyui-textbox" label ="上级名称：" labelWidth="91" labelAlign="right" type="text" style="width: 100%;" name="deptParentNameCn"   readonly/></td>
                                    <td style="width:25%"><input id="form_deptNo" class="easyui-textbox" label ="部门编码：" labelWidth="91" labelAlign="right" type="text" style="width: 100%;" name="deptNo" required="true"  readonly/></td>
                                    <td style="width:25%"><input id="form_deptName" class="easyui-textbox" label ="部门名称：" labelWidth="91" labelAlign="right" type="text" style="width: 100%;" name="deptName"  /></td>
                                </tr>
                                <tr style="text-align: right">
                                    <td style="width:25%"><input id="combo_deptLevel" class="easyui-combobox" label ="部门级别：" labelWidth="91" labelAlign="right" type="text" style="width: 100%;" name="deptLevel"/></td>
                                    <td style="width:25%"><input class="easyui-searchbox" label ="负责人：" labelWidth="91" labelAlign="right" type="text" style="width: 100%;" name="deptLeadName" /></td>
                                    <td style="width:25%"><input class="easyui-textbox" label ="服务电话：" labelWidth="91" labelAlign="right" type="text" style="width: 100%;" name="resStatus" /></td>
                                </tr>
                                <tr style="text-align: right">
                                    <td style="width:25%"><input class="easyui-combobox" label ="所在省：" labelWidth="91" labelAlign="right" type="text" style="width: 100%;" name="deptProvince" /></td>
                                    <td style="width:25%"><input class="easyui-combobox" label ="所在市：" labelWidth="91" labelAlign="right" type="text" style="width: 100%;" style="" name="deptCity"     /></td>
                                    <td style="width:25%"><input class="easyui-combobox" label ="所在区/县：" labelWidth="91" labelAlign="right" type="text" style="width: 100%;" name="deptDistrict"  /></td>
                                    <td style="width:25%"><input id="combo_deptStatus" class="easyui-combobox" label ="部门状态：" labelWidth="91" labelAlign="right" type="text" style="width: 100%;" style="" name="deptStatus"   /></td>
                                </tr>
                                <tr style="text-align: right">
                                    <td colspan=2><input class="easyui-textbox" label ="详细地址：" labelWidth="91" labelAlign="right" type="text" style="width: 100%;" name="deptAddress"  /></td>
                                    <td style="width:20%"><input class="easyui-textbox" label ="经纬度：" labelWidth="91" labelAlign="right" type="text" style="width: 100%;" style="" name="deptLon"/></td>
                                </tr>
                            </table>
                        </form>
                    </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>