<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>部门管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="./static/easyui/themes/metro/easyui.css">
    <link rel="stylesheet" type="text/css" href="./static/easyui/themes/icon.css">
    <script type="text/javascript" src="./static/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="./static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./static/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="./static/js/common.js"></script>
    <script type="text/javascript" src="./static/js/system/tsDistrict.js"></script>
</head>
<body>
<div class="easyui-layout" data-options="fit: true">
    <div data-options="region: 'center', split: true">
        <div class="easyui-layout" data-options="fit: true">
            <div data-options="region: 'center',collapsible:false" >
                <table id="dg_tsDistrict" class="easyui-datagrid"></table>
                <div id="toolbar_dg_tsDistrict">
                    <form id="form_toolbar_dg_tsDistrict" method="post">
                        <table>
                            <tr>
                                <td>
                                    <a id="btn_add_tsDistrict" href="#" class="easyui-linkbutton" iconCls="icon-add" plain="false">新增</a>
                                    <a id="btn_delete_tsDistrict" href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="false">删除</a>
                                    <a id="btn_import_tsDistrict" href="#" class="easyui-linkbutton" iconCls="icon-undo" plain="false">导入</a>
                                    <a id="btn_export_tsDistrict" href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="false">导出</a>
                                    <a id="btn_sync_map_tsDistrict" href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="false">同步地图省市</a>
                                </td>

                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td><input id="form_distCode" class="easyui-textbox" label ="区域编码：" labelWidth="65" labelAlign="right" type="text" style="width: 99%;" name="distCode" /></td>
                                <td><input id="form_distName" class="easyui-textbox" label ="区域名称：" labelWidth="65" labelAlign="right" type="text" style="width: 99%;" name="distName"  /></td>
                                <td><input id="form_distParentCode" class="easyui-textbox" label ="父级编码：" labelWidth="65" labelAlign="right" type="text" style="width: 99%;" name="distParentCode" /></td>
                                <td><input id="form_distParentName" class="easyui-textbox" label ="父级名称：" labelWidth="65" labelAlign="right" type="text" style="width: 99%;" name="distParentName"  /></td>
                                <td>
                                    <a id="btn_search_tsDistrict" href="#" class="easyui-linkbutton" iconCls="icon-search" plain="false">查询</a>
                                    <a id="btn_reset_tsDistrict" href="#" class="easyui-linkbutton" iconCls="icon-undo" plain="false">重置</a>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="window_tsDistrict">
    <form id="window_form_tsDistrict" style="margin: 0 auto;">
        <table>
            <tr style="text-align: right;">
                <td style="display: none"><label form="text_Id">区域编码:</label><input id="text_distId" class="easyui-validatebox" name="distId"></td>
                <td><label form="text_distCode">区域编码:</label><input id="text_distCode" class="easyui-validatebox" name="distCode" data-options="required:true"></td>
                <td><label form="text_distName">区域名称:</label><input id="text_distName" class="easyui-validatebox" name="distName"  data-options="required:true"/></td>
            </tr>
            <tr style="text-align: right;">
                <td><label form="text_distParentCode">父级编码:</label><input id="text_distParentCode" class="easyui-validatebox" name="distParentCode"></td>
                <td><label form="text_distParentName">父级名称:</label><input id="text_distParentName" class="easyui-validatebox" name="distParentName"/></td>
            </tr>
            <tr style="text-align: right;">
                <td><label form="text_distLonlat">区域经纬:</label><input id="text_distLonlat" class="easyui-validatebox" name="distLonlat"></td>
                <td><label form="text_distLevel">父级名称:</label><input id="text_distLevel" class="easyui-validatebox" name="distLevel"/></td>
            </tr>
        </table>
    </form>
</div>
<div id="window_import_tsDistrict">
    <form id="window_form_import_tsDistrict" method="post" enctype="multipart/form-data">
        <p>请选择文件: <input id="file" type="file" name="file" style="width: 300px;"/></p>
    </form>
</div>
</body>
</html>